body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; /* Đảm bảo chiều cao tối thiểu cho phần tử body */
}

header, main, footer {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

header a:hover {
    color: #ffcc00;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo img {
    max-width: 100px;
}

.user-info {
    display: flex;
    align-items: center;
}

.search-bar {
    margin-right: 15px;
    width: 650px;
}

.search-bar form {
    display: flex;
    width: 100%;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #555;
}

.user-info a {
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.user-info a:hover {
    color: #ffcc00;
}

.user-info a.cart-link {
    position: relative;
}

.user-info a.cart-link::before {
    content: '(0)';
    position: absolute;
    background-color: #f00;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    top: -8px;
    right: -8px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

main {
    padding: 20px 0;
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 15px;
    width: 100%;
}

form input,
form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form textarea {
    height: 150px;
    resize: none;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}

#errorMessages {
    color: red;
    text-align: center;
}

#errorMessages p {
    margin: 5px 0;
}
